/*��������Ĭ����ʽ*/
body,h1,h2,h3,h4,h5,h6,p,ul,ol{
	margin:0;
	padding:0;
	list-style:none;
}
#box{
	width:1200px;
	height:650px;
	margin:0 auto;
	/* background:rgba(48,35,42,1) */
	background: linear-gradient(to right, #0D0E13 20%,rgba(76,46,58,1));
}
#top,#bottom{
	width:1200px;
	height:100px;
	margin:0 auto;
	background:black;
	 /*background: linear-gradient(to right, blue, green 20%, yellow 50%, purple 80%, red); */
}
a{
	color:#999;
	text-decoration:none;
	font-size:20px;
}
#box #nav .c4{
	background-clip:padding-box,border-box;
	background-origin:padding-box,border-box;
	background-image:linear-gradient(135deg,#2b2628,#2b2628),linear-gradient(135deg,#5be415,#161cd9);
	border:2px transparent solid;
	box-sizing:border-box;
}
/* 1.��ߵ����� */
#nav{
	float:left;
	width:200px;
	height:600px;
}
#nav .d1{
	width:140px;
	height:80px;
	line-height:100px;
	text-align:right;
	padding-right:5px;
	font-size:28px;
	color:white;
}
#nav .d2{
	width:140px;
	height:60px;
	line-height:60px;
	text-align:right;
	padding-right:5px;
}
#nav .d3{
	width:140px;
	height:60px;
	text-align:right;
	line-height:60px;
	padding-right:5px;
}
#nav .d3:hover,#nav .d2:hover{
	background-clip:padding-box,border-box;
	background-origin:padding-box,border-box;
	background-image:linear-gradient(135deg,#2b2628,#2b2628),linear-gradient(135deg,#5be415,#161cd9);
	border:2px transparent solid;
	box-sizing:border-box;
}
#nav,#main{
	float:left;
}
#main{
	float:left;
	width:1000px;
	height:550px;

}
#main p{
	color:rgb(240,240,240);
}
#main p .img,#main p .titles{
	display:inline-block;
	width:130px;
	height:45px;
	background:#2b2628;
	text-align:center;
	line-height:45px;
	font-size:18px;
	border-right:1px solid #201a1c;
}
#main p img{
	width:20px;
	height:20px;
	vertical-align:text-bottom;
	background:#F8600A;
	border-radius:50%;
}
#main p .img2{
	border-right:none;
}
#main p .img1{
	color:#F8600A;
}
#main p .default{
	background-clip:padding-box,border-box;
	background-origin:padding-box,border-box;
	background-image:linear-gradient(135deg,#2b2628,#2b2628),linear-gradient(135deg,#5be415,#161cd9);
	border:2px transparent solid;
}

#main p .titles{
	display:inline-block;
	width:261px;
	height:45px;
	background:#2b2628;
	text-align:center;
	line-height:45px;
	font-size:18px;
	border-right:1px solid #201a1c;

}
#main p{
	margin-left:50px;
}
#main .up{
	float:left;
	margin-top:65px;
}
#main .middle{
	clear:both;
}
#main .big{
	margin-bottom:12px;
}
#main .small{
	margin-bottom:17px;
}
#main .titles:hover{
	background-clip:padding-box,border-box;
	background-origin:padding-box,border-box;
	background-image:linear-gradient(135deg,#2b2628,#2b2628),linear-gradient(135deg,#5be415,#161cd9);
	border:2px transparent solid;
}






