
body,.all {
    padding:0;
    margin: 0;
    list-style: none;
}
.head {
    height: 80px;
    background-color: aqua;
    width: 2000px;
}
.head img{
    height: 50px;
    width: 50px;
}
.title01{
    position: relative;
    width: 150px;
    float:left;
    margin-left: 80px;
}
.title01 .titleimg1{
    width: 65px;
}
h3,h4{
    margin: 0;
    padding: 0;
}
h3{
    position: absolute;
    left:80px;
    top: 20px;
    font-weight: normal;
    color: #75CAE5;
}
h4{
    font-size: 20px;
}
.person,.money,.history{
    float: right;
    margin: 5px 0;
}
.title02 {
    float:left;
    margin-left: 400px;
    font-size: 20px;
    color: white;
    position: relative;
    margin-top: 12px;
}
#first{
    font-size: 20px;
    text-decoration: none;
    color: white;
    float: left;
    margin-top: 16px;
    margin-right: 10px;
}
.title02 .search{
    width: 650px;
    height: 50px;
    border-radius: 50px;
    font-size: 20px;

}
.title02 .search1{
    width: 150px;
    height: 56px;
    font-size: 25px;
    border-radius: 0 30px 30px 0;
    border: none;
    background-color: #00BE06;
    color: white;
    vertical-align: top;
    position: absolute;
    right: 0px;
    top: 0px;
    cursor: pointer;

}
.title02 .search1 :focus{outline:0;}
.head a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    text-align: center;
    display: block;
    margin-bottom: 10px;

}
.head .money{
    margin: 5px 50px;
}

/*2*/
.mainbody{


}
.mainbody h3{
    margin-top:20px;
    padding-top: 60px;
    font-size: 25px;
    font-weight: 800;
    color: black;
}
.mainbody .firstrow{
    position: relative;
    overflow: hidden;
    width: 2000px;
    height: 400px;

}
.mainbody .firstrow img{
    height: 300px;
    width: 260px;
}
.mainbody .firstrow a{
    text-decoration: none;
    color: black;
    font-size: 25px;
    text-align: center;
    display: block;
    margin-bottom: 10px;
}
.firstrow .movie1{
    position: absolute;
    margin-top: 60px;
    margin-left: 80px;
    /*overflow: hidden;*/
}
.firstrow .movie2{
    position: absolute;
    left: 470px;
    top:60px;
    /*overflow: hidden;*/
}
.firstrow .movie3{

    position: absolute;
    left: 860px;
    top:60px;

    /*overflow: hidden;*/
}
.firstrow .movie4{
    position: absolute;
    right: 490px;
    top:60px;
    /*overflow: hidden;*/
}
.firstrow .movie5{
    position: absolute;
    right: 80px;
    top:60px;
    /*overflow: hidden;*/
}

.mainbody .firstrow2{
    position: relative;
    margin-top: 20px;

    overflow: hidden;
    width: 2000px;
    height: 400px;
}
.mainbody .firstrow2 img{
    height: 300px;
    width: 260px;
}
.mainbody .firstrow2 a{
    text-decoration: none;
    color: black;
    font-size: 25px;
    text-align: center;
    display: block;
    margin-bottom: 10px;
}
.firstrow2 .movie1{
    position: absolute;
    margin-top: 20px;
    margin-left: 80px;
    overflow: hidden;
}
.firstrow2 .movie2{
    position: absolute;
    left: 470px;
    top:20px;
    overflow: hidden;
}
.firstrow2 .movie3{

    position: absolute;
    left: 860px;
    top:20px;
    overflow: hidden;
}
.firstrow2 .movie4{
    position: absolute;
    right: 490px;
    top:20px;
    /*overflow: hidden;*/
}
.firstrow2 .movie5{
    position: absolute;
    right: 80px;
    top:20px;
    /*overflow: hidden;*/
}
.mainbody .firstrow3{
    position: relative;
    margin-top: 20px;
    width: 2000px;
    height: 400px;
    overflow: hidden;
}
.mainbody .firstrow3 img{
    height: 300px;
    width: 260px;
}
.mainbody .firstrow3 a{
    text-decoration: none;
    color: black;
    font-size: 25px;
    text-align: center;
    display: block;
    margin-bottom: 10px;
}
.firstrow3 .movie1{
    position: absolute;
    margin-top: 20px;
    margin-left: 80px;
    overflow: hidden;
}
.firstrow3 .movie2{
    position: absolute;
    left: 470px;
    top:20px;
    overflow: hidden;
}
.firstrow3 .movie3{

    position: absolute;
    left: 860px;
    top:20px;
    overflow: hidden;
}
.firstrow3 .movie4{
    position: absolute;
    right: 490px;
    top:20px;
    /*overflow: hidden;*/
}
.firstrow3 .movie5{
    position: absolute;
    right: 80px;
    top:20px;
    /*overflow: hidden;*/
}

.foot{

    position: relative;
}
.foot a {
    display: block;
    text-decoration: none;

    margin-left:80px;

    font-size: 25px;
    font-weight: 800;
    color: black;

}

#filmFooter{
    border-top: 2px solid red;
    margin-top: 60px;
}
#filmFooter a{
    float: left;
    font-size: 20px;
    margin: 60px 5px;
    border-left: 3px solid black;
    padding-left: 10px;
}

#filmFooter .s1{
    margin-left: 450px;
    border-left:none ;
}

.copyright{
    margin-top: 40px;
    margin-bottom: 40px;
}
#filmFooter .copyright a{
    position: absolute;
    left: 850px;
    border-left:none ;
}
#filmFooter .copyright span{
    position: absolute;
    left: 950px;
    margin-top: 62px;
    font-size: 18px;
}