<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" href="../static/css/about_us.css">

	</head>
	<body>
		<div id="a1">
			<div id="title">
				<img src="../static/images/logo.png">
				<span>七人行</span>
			</div>
			<div id="main">
				<ul>
					<li>联系方式</li>
					<a href=""><li>用户协议</li></a>
					<a href="/07-privacy"><li>隐私政策</li></a>
					<li>七人行号</li>
					<li>七人行会员合作</li>
					<li>安全应急响应中心</li>
					<li>帮助中心</li>
					<li>侵权投诉</li>
				</ul>
				<div class="cust">
					<h1>客服服务和建议电话</h1>
					<h3>Customer Server Hotline</h3>
				</div>
				<div class="ask">
					<img src="../static/images/kf.png">
					<button value="立刻咨询">立刻咨询</button>
					<div class="tel">
						<h3>服务电话</h3>
						<h4>021-59xx04xx</h4>
					</div>
					
					<h1>业务联系方式</h1>
					<h5>Contact us</h5>
				</div>
			</div>
		</div>
	</body>
</html>
