<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" href="../static/css/chine-move.css">
	</head>
	<body>
		<div id="box">
			<div id="title">
				<div class="title-1">
					<img src="../static/images/logo.png" class="title-img1">
					<h3>七人行</h3>
					<h4>悦  享  品  质</h4>
				</div>
				<div class="title-2">
					<a href="first_page.html">首页</a>
					<span>导航</span>
					<input type="text" class="search" placeholder="反贪风暴4">
					<input type="button" class="search1" value="全网热搜">
				</div>
				<div class="person">
					<img src="../static/images/person.png" >
					<a href="#">个人中心</a>
				</div>
				<div class="money">
					<img src="../static/images/money.jpg" >
					<a href="#">充值中心</a>
				</div>
				<div class="history">
					<img src="../static/images/logo.png" >
					<a href="#">历史记录</a>
				</div>	
				<div id="nav">
					<h3>港  影  热  映</h3>
					<div class="move1">
						<img src="../static/images/hongkong/01.jpg">
						<h4>龙珠.修罗道</h4>
					</div>
					<div>
						<img src="../static/images/hongkong/02.jpg">
						<h4>神探大战</h4>
					</div>
					<div>
						<img src="../static/images/hongkong/03.jpg">
						<h4>疯狂的外星人</h4>
					</div>
					<div>
						<img src="../static/images/hongkong/04.jpg">
						<h4>扫毒2</h4>
					</div>
					<div>
						<img src="../static/images/hongkong/05.jpg">
						<h4>失踪</h4>
					</div>
					<div>
						<img src="../static/images/hongkong/06.jpg">
						<h4>无双</h4>
					</div>
					<div>
						<img src="../static/images/hongkong/07.jpg">
						<h4>神探蒲松龄</h4>
					</div>
					<div>
						<img src="../static/images/hongkong/08.jpg">
						<h4>廉政风云</h4>
					</div>
					<div>
						<img src="../static/images/hongkong/09.jpg">
						<h4>倩女幽魂4</h4>
					</div>
					<div>
						<img src="../static/images/hongkong/10.jpg">
						<h4>拓星者</h4>
					</div>		
					<h3>经  典  港  片</h3>
					<div>
						<img src="../static/images/hongkong/j1.jpg">
						<h4>新龙门客栈</h4>
					</div>
					<div>
						<img src="../static/images/hongkong/j2.jpg">
						<h4>黄飞鸿</h4>
					</div>
					<div>
						<img src="../static/images/hongkong/j3.jpg">
						<h4>新警察故事</h4>
					</div>
					<div>
						<img src="../static/images/hongkong/j4.jpg">
						<h4>英雄本色</h4>
					</div>
					<div>
						<img src="../static/images/hongkong/j5.jpg">
						<h4>无间道I</h4>
					</div>
					<div>
						<img src="../static/images/hongkong/j6.jpg">
						<h4>卧虎藏龙</h4>
					</div>
					<div>
						<img src="../static/images/hongkong/j7.jpg">
						<h4>风暴</h4>
					</div>
					<div>
						<img src="../static/images/hongkong/j8.jpg">
						<h4>东成西就</h4>
					</div>
					<div>
						<img src="../static/images/hongkong/j9.jpg">
						<h4>极速传说</h4>
					</div>
					<div>
							<img src="../static/images/hongkong/j10.jpg">
							<h4>东邪西毒</h4>
					</div>
					<h3>即将上映</h3>
					<div class="move1">
						<img src="../static/images/hongkong/s1.jpg">
						<h4>叶问4</h4>
					</div>
					<div >
						<img src="../static/images/hongkong/s2.jpg">
						<h4>沉默的证人</h4>
					</div>
					<div >
						<img src="../static/images/hongkong/s3.jpg">
						<h4>明日战纪</h4>
					</div>
					<div>
						<img src="../static/images/hongkong/s4.jpg">
						<h4>贼王</h4>
					</div>
					<div>
						<img src="../static/images/hongkong/s5.jpg">
						<h4>寻秦记</h4>
					</div>
				<div>
				</div>
			</div>
		</div>
	</body>
</html>
