<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Will</title>
    <link href="../static/css/video.css" rel="stylesheet">
</head>
<body>
    <div class="all">
        <div class="head">
            <div id="title">
                <div class="title01">
                    <img src="../static/images/logo.png" class="titleimg1">
                    <h3>七人行</h3>
                    <h4>悦 享 品 质</h4>
                </div>
                <div class="title02">
                    <a id="first" href="first_page.html">首页</a>
                    <span>导航</span>
                    <input type="text" class="search" placeholder="反贪风暴4">
                    <input type="button" class="search1" value="全网热搜">
                </div>
            <div class="person">
               <img src="../static/images/person.png">
                <a href="#">个人中心</a>
            </div>
            <div class="money">
               <img src="../static/images/money.jpg">
                <a href="#">充值中心</a>
            </div>
            <div class="history">
               <img src="../static/images/logo.png">
                <a href="#">历史记录</a>
            </div>
            </div>
        </div>

        <div class="mainbody">
            <h3>即将上映</h3>
            <div class="firstrow">
                <div class="movie1">
                   <img src="../static/images/三方国界.jpg">
                    <a href="#">三方国界</a>
                </div>
                <div class="movie2">
                   <img src="../static/images/哭泣女人的诅咒.jpg">
                    <a href="#">哭泣女人的诅咒</a>
                </div>
                <div class="movie3">
                   <img src="../static/images/劫匪.jpg">
                    <a href="#">劫匪</a>
                </div>
                <div class="movie4">
                   <img src="../static/images/雷霆沙赞！.jpg">
                    <a href="#">雷霆沙赞！</a>
                </div>
                <div class="movie5">
                   <img src="../static/images/丛林有情狼2.jpg">
                    <a href="#">丛林有情狼2</a>
                </div>

            </div>
            <div class="firstrow2">
                <div class="movie1">
                   <img src="../static/images/天堂日落.jpg">
                    <a href="#">天堂日落</a>
                </div>
                <div class="movie2">
                   <img src="../static/images/女间谍.jpg">
                    <a href="#">女间谍</a>
                </div>
                <div class="movie3">
                   <img src="../static/images/忠犬流浪记.png">
                    <a href="#">忠犬流浪记</a>
                </div>
                <div class="movie4">
                   <img src="../static/images/变线人生.jpg">
                    <a href="#">变线人生</a>
                </div>
                <div class="movie5">
                   <img src="../static/images/无情暴虐.jpg">
                    <a href="#">无情暴虐</a>
                </div>

            </div>
            <div class="firstrow3">
                <div class="movie1">
                   <img src="../static/images/战栗特工.jpg">
                    <a href="#">战栗特工</a>
                </div>
                <div class="movie2">
                   <img src="../static/images/死侍2我爱我家.jpg">
                    <a href="#">死侍2&nbsp;我爱我家</a>
                </div>
                <div class="movie3">
                   <img src="../static/images/极线杀手.jpg">
                    <a href="#">极线杀手</a>
                </div>
                <div class="movie4">
                   <img src="../static/images/弯刀杀戮.jpg">
                    <a href="#">弯刀杀戮</a>
                </div>
                <div class="movie5">
                   <img src="../static/images/天使的孩子.jpg">
                    <a href="#">天使的孩子</a>
                </div>

            </div>

        </div>

        <div class="foot">
            <a href="/forginer">
                更多精彩>>>
            </a>
                <div id="filmFooter" class="qy_footer" data-block-name="底部版权">
    <div class="footmenu">
        <a href="#" class="s1" title="APP专区">APP专区</a>
        <a href="#" rel="nofollow" title="公司介绍">公司介绍</a>
        <a href="#" rel="nofollow" title="新闻动态">新闻动态</a>
        <a href="#" rel="nofollow" title="联系方式">联系方式</a>
        <a href="#" rel="nofollow" title="招聘英才">招聘英才</a>
        <a href="#" rel="nofollow" title="开放平台">开放平台</a>
                <a href="#" rel="nofollow" title="爱奇艺号" rseat="爱奇艺号" target="_blank">七人行账号</a>
        <a href="#" title="应用商店" rseat="应用商店" target="_blank">应用商店</a>
        <a href="#" rel="nofollow" title="帮助中心">帮助中心</a>
        <a href="#" rel="nofollow" title="AboutUs">About Us</a>
    </div>
    <div class="copyright">
        <a href="">七人行</a>
        <span>© 2019 QIRENXING.COM</span>
    </div>
</div>
        </div>

    </div>

</body>
</html>