<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Now</title>
    <link href="../static/css/video.css" rel="stylesheet">
</head>
<body>
    <div class="all">
        <div class="head">
            <div id="title">
                <div class="title01">
                    <img src="../static/images/logo.png" class="titleimg1">
                    <h3>七人行</h3>
                    <h4>悦 享 品 质</h4>
                </div>
                <div class="title02">
                    <a id="first" href="first_page.html">首页</a>
                    <span>导航</span>
                    <input type="text" class="search" placeholder="反贪风暴4">
                    <input type="button" class="search1" value="全网热搜">
                </div>
            <div class="person">
                <img src="../static/images/person.png">
                <a href="#">个人中心</a>
            </div>
            <div class="money">
                <img src="../static/images/money.jpg">
                <a href="#">充值中心</a>
            </div>
            <div class="history">
                <img src="../static/images/logo.png">
                <a href="#">历史记录</a>
            </div>
            </div>
        </div>

        <div class="mainbody">
            <h3>正在热播</h3>
            <div class="firstrow">
                <div class="movie1">
                    <img src="../static/images/X战警：黑凤凰.jpg">
                    <a href="#">X战警：黑凤凰</a>
                </div>
                <div class="movie2">
                    <img src="../static/images/复仇者联盟4.jpg">
                    <a href="#">复仇者联盟4</a>
                </div>
                <div class="movie3">
                    <img src="../static/images/惊天复制.jpg">
                    <a href="#">惊天复制</a>
                </div>
                <div class="movie4">
                    <img src="../static/images/高材生.jpg">
                    <a href="#">高材生</a>
                </div>
                <div class="movie5">
                    <img src="../static/images/玻璃先生.jpg">
                    <a href="#">玻璃先生</a>
                </div>



            </div>
            <div class="firstrow2">
                <div class="movie1">
                    <img src="../static/images/惊奇队长.jpg">
                    <a href="#">惊奇队长</a>
                </div>
                <div class="movie2">
                    <img src="../static/images/极限职业.jpg">
                    <a href="#">极限职业</a>
                </div>
                <div class="movie3">
                    <img src="../static/images/致命之旅.jpg">
                    <a href="#">致命之旅</a>
                </div>
                <div class="movie4">
                    <img src="../static/images/头号玩家.jpg">
                    <a href="#">头号玩家</a>
                </div>
                <div class="movie5">
                    <img src="../static/images/关灯后.jpg">
                    <a href="#">关灯后</a>
                </div>
            </div>
            <div class="firstrow3">
                <div class="movie1">
                    <img src="../static/images/英雄威尔.jpg">
                    <a href="#">英雄威尔</a>
                </div>
                <div class="movie2">
                    <img src="../static/images/行骗天下：运势.jpg">
                    <a href="#">行骗天下：运势</a>
                </div>
                <div class="movie3">
                    <img src="../static/images/阿拉丁历险记.jpg">
                    <a href="#">阿拉丁历险记</a>
                </div>
                <div class="movie4">
                    <img src="../static/images/极度权限.jpg">
                    <a href="#">极度权限</a>
                </div>
                <div class="movie5">
                    <img src="../static/images/无间炼狱.jpg">
                    <a href="#">无间炼狱</a>
                </div>

            </div>

        </div>

        <div class="foot">
            <a href="/videold">
                更多精彩>>>
            </a>
            <div id="filmFooter" class="qy_footer" data-block-name="底部版权">
    <div class="footmenu">
        <a href="#" class="s1" title="APP专区">APP专区</a>
        <a href="#" rel="nofollow" title="公司介绍">公司介绍</a>
        <a href="#" rel="nofollow" title="新闻动态">新闻动态</a>
        <a href="#" rel="nofollow" title="联系方式">联系方式</a>
        <a href="#" rel="nofollow" title="招聘英才">招聘英才</a>
        <a href="#" rel="nofollow" title="开放平台">开放平台</a>
                <a href="#" rel="nofollow" title="爱奇艺号" rseat="爱奇艺号" target="_blank">七人行账号</a>
        <a href="#" title="应用商店" rseat="应用商店" target="_blank">应用商店</a>
        <a href="#" rel="nofollow" title="帮助中心">帮助中心</a>
        <a href="#" rel="nofollow" title="AboutUs">About Us</a>
    </div>
    <div class="copyright">
        <a href="">七人行</a>
        <span>© 2019 QIRENXING.COM</span>
    </div>
</div>
        </div>

    </div>
</body>
</html>